@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
}

@font-face {
  font-family: 'Source Code Pro';
  src: url("https://fonts.googleapis.com/css?family=Source+Code+Pro") format('truetype');
}

pre {
  background-color: white
}

h2 {
  margin-bottom: 1rem
}

pre code {
  font-family: 'Source Code Pro', Consolas, monaco, monospace !important;
  font-size: 0.9rem !important;
  line-height: 1.4rem;
}

.hljs-deletion {
  color: #b31d28 !important;
}

.hljs-addition {
  color: #22863a !important;
}

.article-style {
  font-family: 'Open Sans', sans-serif;
}

/* h1, h2, h3 {
  font-family: 'Lora', serif;
} */

.article-reading-time {
  font-family: 'Open Sans', serif;
}

.article-date {
  font-family: 'Open Sans', serif;
}